  <div class="container-fluid">
      <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
          <a class="navbar-brand" href="#">Logo</a>
          <div class="navbar-brand">
            ProjectName
          </div>
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" routerLink="dashboard">Dashboard</a>
                </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="Single-order">SingleOrder</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="multiple-order">MultipleOrder</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="reports">Reports</a>
              </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                EmployeeID
              </a>
              <div class="dropdown-menu" aria-labelledby="navbardrop">
                <a class="dropdown-item">Signout</a>
                <a class="dropdown-item" href="#">Signout</a>
                <a class="dropdown-item" href="#">Signout</a>
              </div>
            </li>
          </ul>
        </nav>
  </div>


