/* .menu-background{
    height: 60px;
    background: blue;
    line-height: 60px;
    color: #ffffff;
    font-weight: bold;
}

select{
    background-color: #03a2ea;
    border: 1px solid #03a2ea;
    color: #ffffff;
}

option{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #03a2ea;
} */
