*{
    color: #8E8D8A;
}

button{
    background-color: blue;
    border: #E98074;
}
.order-det{
    width: 100%;
    margin-left: 0px;
    margin-top: -10px;
}

h3{
    background-color: blue;
    color: #dee2e6;
    padding: 8px 0;
}

h4{
    border: 1px solid #dee2e6;
    margin: -1px -16px;
    padding: 5px 0;
}

.orderNumDiv{
    margin: 50px 0 20px 0;
}

.content div{
    margin: 10px 0;
}

.orderlog{
    margin: 0 15px;
    margin-top: -9px;
}

.orderlog .row div{
    padding: 10px 5px;
    height: 50px;
}

.dash-inp{
    margin-top: 20px;
} 